language: php
cache:
  directories:
    - vendor
php:
  - 7.3
  - 7.4

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-source

script:
  - vendor/bin/phpunit
  - vendor/bin/phpcs
  - vendor/bin/phpstan analyse

after_success:
  - bash <(curl -s https://codecov.io/bash)